/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --primary-color: #003057;
    --secondary-color: #F1F1F1;
    --tertiary-color: #F9F9F9;
    --text-color: #262628;
    --secondary-text-color: #666;
    --font-family: 'Montserrat', sans-serif;

    /* Font sizes */
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-xlarge: 30px;
    --font-size-xxlarge: 48px;

    /* Container width */
    --container-width: 1440px;

    /* Hover color */
    --hover-color: #F9F9F9;
}

/* Global Styles (Mobile-First) */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 15px; /* Mobile padding */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

header a {
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: var(--font-size-medium);
}

header .logo {
    height: auto;
    max-width: 72px; /* Adjust for mobile size */
    max-height: 72px;
}

header .main-nav {
    display: none; /* Hide the main nav by default */
}

.hamburger-menu {
    display: flex;
    cursor: pointer;
}

.hamburger-menu img {
    width: 36px;
    height: 36px;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1000;
    border-top: 1px solid #ddd;
}

.mobile-nav-items {
    list-style: none;
    padding: 10px 20px;
}

.mobile-nav-items li {
    padding: 10px 0;
}

.mobile-nav-items li a {
    text-decoration: none;
    color: var(--text-color);
}

header .nav-item a.top-nav-link {
    text-decoration: none;
    padding: 24px;
    display: block;
    position: relative;
}

header .nav-item a.top-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header .nav-item a.top-nav-link:hover::after {
    transform: scaleX(1);
}

header .nav-item:hover {
    background-color: var(--hover-color);
}

header .nav-item:hover .dropdown-wrapper {
    display: flex;
}

/* Adjust dropdown wrapper styling */
.dropdown-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--tertiary-color);
    display: none;
    justify-content: center;
    gap: 24px;
    padding: 12px 24px;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.dropdown-title {
    font-size: var(--font-size-medium);
    font-weight: bold;
    margin-bottom: 12px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    color: var(--text-color);
    border-bottom: 1px solid #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-menu a:hover {
    background-color: var(--secondary-color);
    text-decoration: underline;
}

.dropdown-columns {
    display: flex;
    gap: 24px;
    max-width: 895px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: var(--font-size-large); /* Adjust for mobile size */
    font-weight: normal;
    color: var(--primary-color);
}

/* Highlights Section */

.featured-cards {
    background-color: white;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section-header h2 {
    font-size: var(--font-size-medium); /* Adjust for mobile size */
    font-weight: bold;
}

.section-header a {
    color: var(--primary-color);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
}

.card {
    background-color: var(--tertiary-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 100%; /* Adjust for mobile size */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.features > .card-container > .card {
    flex: 1 1 100%; /* Adjust for mobile size */
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-description {
    font-size: var(--font-size-small);
}

.card-btn {
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.card-btn .icon {
    margin-right: 10px;
}

/* Video Card Styles  */

.video-card .video-thumbnail {
    position: relative;
}

.video-card .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Video modal styles  */
.video-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.video-image {
    width: 100%;
    height: auto;
}

.info-bar {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.video-title {
    font-weight: bold;
    font-size: var(--font-size-small);
    margin-bottom: .5rem ;
}

.video-post-date {
    font-size: 12px;
}

.close-button {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    height: 68px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer h2 {
    font-size: var(--font-size-large); /* Adjust for mobile size */
}

footer p {
    font-size: var(--font-size-small);
}

/* Media Queries for Tablet Screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0 30px; /* Adjust for tablet size */
    }

    header .main-nav {
        display: none; /* Hide the main nav for tablet */
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }

    header .logo {
        max-width: 100px;
    }

    .section-header h2 {
        font-size: var(--font-size-large);
    }

    .card {
        flex: 1 1 calc(50% - 40px); /* Adjust for tablet size */
    }

    .features > .card-container > .card {
        flex: 1 1 calc(50% - 40px); /* Adjust for tablet size */
    }
}

/* Media Queries for Desktop Screens */
@media (min-width: 1025px) {
    .container {
        max-width: var(--container-width);
        padding: 0;
    }

    header {
        background-color: white;
    }

    header .main-nav {
        display: flex; /* Show the main nav for desktop */
    }

    .nav-items {
        display: flex;
        list-style: none;
    }

    .hamburger-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header .logo {
        max-width: 160px;
    }

    .section-header h2 {
        font-size: var(--font-size-large);
    }

    .card {
        flex: 1 1 calc(50% - 40px);
    }

    .features > .card-container > .card {
        flex: 1 1 calc(25% - 40px);
    }

    .modal-content {
        max-width: 1138px;
        max-height: 640px;
    }

    footer h2 {
        font-size: var(--font-size-xlarge);
    }
}
